/* *{
margin: 0;
padding: 0;
box-sizing: border-box;
background-color: Oblack;
}

.container{
width: 60vw;
height: auto;
margin: 150px auto;
padding: 30px;
background-color: rgb(34, 33, 33);
border: none;
border-radius: 10px;
box-shadow: 0px 0px 10px 0px rgb(35, 35, 35);
}
.container h3{
color:white;
background-color: transparent;
text-align: center;
font-size: 30px;
font-family: 'Montserrat';
padding: 20px 0px;
}
.container p{
color:white;
text-align: center;
font-family: 'Montserrat';
background-color: transparent;
font-size: 15px;
}
.btn-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin: 30px 0px;
}
    
    .btn-section a{
    background-color: transparent;
}
    .btn-section button{
    margin: 10px 5px;
    padding: 5px 10px;
    background-color:
    black;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 500;
    transition: 0.5s;
}
    .btn-section button:hover{
    color: rgb(185, 255, 80);
    background-color: Oblack;
    border: 2px solid rgb(185, 255, 80);
    border-radius: 10px;
    transform: translateY(-3px);
    box-shadow: 0px 4px 2px 0px rgb(185, 255, 80);
}
follow{
    margin: 10px 5px;
    padding: 10px 50px;
    display: flex;
    justify-content: center;
    color: rgb(185, 255, 80);
    background-color: Oblack;
    border: 2px solid rgb(185, 255, 80);
    border-radius: 10px;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 500;
    box-shadow: 0px 4px 2px 0px rgb(185, 255, 80);
    transition: 0.5s;
}
    .follow:hover{
    color: black;
    background-color: rgb(185, 255, 80);
} 
    form{
    width: 60%;
    background-color: transparent;
    margin: 10px auto;
    padding: 10px;
    }  
    form label{
    display: block;
    color: white;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: transparent;
    padding: 5px;
    }
    form input {
        width: 90%;
        padding: 10px;
        outline: none;
        border: 1px solid white;
        border-radius: 5px;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    } 
        form input:focus{
        border: 1px solid rgb(185, 255, 80);
        }   
        form textarea{
        width: 90%;
        padding: 10px;
        outline: none;
        border: 1px solid white;
        border-radius: 5px;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        }  
        form textarea:focus{
        border: 1px solid rgb(185, 255, 80);
        } 
        #parameter{
        width: 60%;
        margin-left: 160px;
        margin-top: 20px;
        padding: 10px;
        outline: none;
        border: 1px solid white;
        border-radius: 5px;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    } */